main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.producto {
    border: 1px solid #ccc;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
}

.producto h2 a {
    color: black;
}

@media (max-width: 520px) {
    .producto {
        width: 98%;
        margin: 20px auto;
    }
}